.app {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.headerContainer {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: green;
    font-size: 4rem;
    position: relative;
    bottom: 3rem

}

.container {
    display:flex;
    margin-left: 3rem;
    order: -1;
    position: relative;
    top:9rem;
}

.counter1Container {
    display: flex;
    justify-content: center;
    position: absolute;
    top:15rem;
    right: 26rem;
}
